---
import Layout from "../layouts/Layout.astro";

import "../styles/new.css";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to shalev.eu.org">
  
  <div class="top h-[100vh]">
    <div class="cover h-full">
         <nav class="sticky top-0 text-end"> 
          <ul>
            <li class="inline px-2"><a href="#about">About</a></li>
            <li class="inline px-2"><a href="#project">Project</a></li>
            <li class="inline  px-2"><a href="#project">Explore</a></li>
            <li class="inline px-2"><a href="#project">Contact</a></li>
          </ul>
         </nav>
         <div class="cover-content h-full flex justify-center flex-col ml-5">
           <h1 class="mastheadtitle"><pre class="block !text-xl ml-5">Hey. </pre>I'm Shalev <br/> Engineer Consultant</h1> 
         <div class="mt-9 pb-36">
          <button class="rounded-full py-3 px-6 border-solid border-2">Take a look</button>
          <button class="rounded-full py-3 px-6 border-solid border-2">Get in Touch</button>
         </div>
         </div>
   
    </div>
  </div>
  <div class="flex pt-56 pb-56 justify-center items-center bg-zinc-900 flex-col">
    <h5>What do I do?</h5>
    <h2 class="sectionHeading block">I play pubg</h2>
  </div>
  <div class="flex pt-32 pb-56 justify-center items-center  flex-col">
    <h2 class="pb-12 text-3xl">A peek on what I worked on</h2>
    <table>
      <tr>
        <td> <Card title="METER" body="new" href="/meter" picurl="/farm.png"></Card> </td>
        <td>  <Card title="METER" body="new" href="/meter" picurl="/farm.png"></Card>  </td>
      </tr>
      <tr>
        <td>  <Card title="METER" body="new" href="/meter" picurl="/farm.png"></Card>  </td>
        <td>  <Card title="METER" body="new" href="/meter" picurl="/farm.png"></Card>  </td>
      </tr>
    </table>
  </div>
  <div class="top h-[500px]">
    
    <div class="cover h-full">
     
      <div class="cover-content h-full w-full  md:w-[50%] flex justify-center items-start flex-col mx-auto">
        <h5 class="pb-8">Let's connect</h5>
        <h2 class="sectionHeading block my-2 hover:underline hover:cursor-pointer">Get in Touch</h2>
        <h2 class="sectionHeading block my-2 hover:underline hover:cursor-pointer">Linkedin</h2>
        <h6 class="pt-24">@ 2024, Designed by Shalev, Inspired by Jamie Phan.</h6>
      </div>
      <nav class="sticky bottom-0 text-end"> 
        <ul>
          <li class="inline px-2"><a href="#about">About</a></li>
          <li class="inline px-2"><a href="#project">Project</a></li>
          <li class="inline  px-2"><a href="#project">Explore</a></li>
          <li class="inline px-2"><a href="#project">Contact</a></li>
        </ul>
       </nav>
  </div>
    
</div> 
</Layout>