---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets";
import Card from "../components/PhotoCard.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="my adventure">

    <div class="w-full relative cover-bg h-[70vh]">
        <nav class="sticky top-0 text-end"> 
         <NavBar></NavBar>
        </nav>
        <div class="flex flex-end h-full">
        <div class="layout-content mt-12 flex items-center mb-32 justify-end flex-col text-center">
            <h2 class=" text-5xl font-semibold">Aspiration</h2>
            <p class="leading-normal text-lg my-12 w-[40%]">
                I am kinda greedy, I want to be the best of myself without using all my time and power. I want to try everything, I want to be everywhere. I want to be the best of myself without using all my time and power. I want to try everything, but I sucks at preparing or preparation. I love coding but I am a slow learner. Minecraft plugin, Discord plugin, OAuth, PWA, Kotlin all I have tried. I am also keen to be a engineer, I wish my research and my work can be innovative and I can open a company about it. I also want to build a business, hardware, software, barber, food producer and resturants. Currently I am operating a social enterprising project and I want to be a project leader and consulting as well. Anyway, I am a dreamer at all. 
            </p>
        </div></div>
    </div>

        <div class="flex flex-col items-center my-16">
            <div class="flex flex-col items-center w-fit p-5 bg-orange-950 rounded-xl">
                <Image src="https://jamiephan.com/img/farmcare/fc-2.png" alt="A bird." width="100" height="100" />
                <div class="flex flex-col items-center w-fit px-16  ">
                    <h2 class="mb-8 text-3xl">Meow</h2>
                    <div class="flex flex-wrap flex-row">
                        <div class="flex flex-col justify-center items-center py-5 px-9 bg-slate-950 rounded-xl mx-5">
                            <h2 class="text-2xl">4</h2>
                            <h2>Age</h2>
                        </div>
                        <div class="flex flex-col justify-center items-center py-5 px-9 bg-slate-950 rounded-xl mx-5">
                            <h2 class="text-2xl">17.4</h2>
                            <h2>Weight</h2>
                        </div>
                        <div class="flex flex-col justify-center items-center py-5 px-9 bg-slate-950 rounded-xl mx-5">
                            <h2 class="text-2xl">1</h2>
                            <h2>Owner</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    


    <hr>
    <div class="flex flex-col items-center">
        <div class="photos-container grid grid-cols-2 gap-3 w-fit">
            <Card title="Hiking" body="Peak Dist." href="#new1" picurl="/farm.png"  date="2019-09-15 23:59"></Card>
            <Card title="Hiking" body="Peak Dist." href="#new1" picurl="/farm.png"  date="2019-09-15 23:59"></Card>
            <Card title="Hiking" body="Peak Dist." href="#new1" picurl="/farm.png"  date="2019-09-15 23:59"></Card>
            <Card title="Hiking" body="Peak Dist." href="#new1" picurl="/farm.png"  date="2019-09-15 23:59"></Card>
            <Card title="Hiking" body="Peak Dist." href="#new1" picurl="/farm.png"  date="2019-09-15 23:59"></Card>
            <Card title="Hiking" body="Peak Dist." href="#new1" picurl="/farm.png"  date="2019-09-15 23:59"></Card>
            <Card title="Hiking" body="Peak Dist." href="#new1" picurl="/farm.png"  date="2019-09-15 23:59"></Card>
            <Card title="Hiking" body="Peak Dist." href="#new1" picurl="/farm.png"  date="2019-09-15 23:59"></Card>
        </div>
    </div>
    <div class="top h-[500px]">
        <div class="h-full mt-32">
            <div class="w-full flex h-72">
                <div class="bg-red-900 w-full">
                    <a href="/meter">
                    <div class="p-12 !px-24"> <h1 class="text-3xl mb-12">Veolia</h1>previous</div>
                </a>
                </div>    
                <div class="bg-blue-900 w-full">
                <a href="/">  
                    <div class="p-12 text-end !px-24"> <h1 class="text-3xl mb-12">Veolia</h1>next</div>
                </a>  
                </div>    
            </div>  
          <div class="w-full  md:w-[50%] flex justify-center items-start flex-col mx-auto">
          
            <h6 class="pt-24">@ 2024, Designed by Shalev, Inspired by Jamie Phan.</h6>
          </div>
    
      </div>
        
    </div> 
</Layout>

<style>


.cover-bg{
        background: url("../svg/farm.png") center center no-repeat;
     
    }
    .cover{
        
        height: 100vh;
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

</style>