---
interface Props {
	title: string;
	body?: string;
	href: string;
	picurl: string;
}

const { picurl, href, title, body } = Astro.props;
---

<div class="projectcard-bg m-3 bg-[var(--urlimg)]" style={` --urlimg: url('${picurl}');`}>
	
	<a class="projectcard flex lg:hidden items-center justify-center  h-full" href={href} transition:name="hero" >
		<div class="w-[80%]"><div class="font-bold">{title}</div>
		{body}</div>
		
	</a>
</div>
<style>
	.projectcard-bg{
		background: var(--urlimg) no-repeat center center;
		/* background: blue; */
		width: 300px;
		height: 300px;
	}
	.projectcard{
		
	}
	
	@media (max-width: 1024px) {.projectcard{
		background: rgba(0, 0, 0, 0.5);
	}
	}
			.projectcard-bg:hover .projectcard{
		background: rgba(0, 0, 0, 0.5);
		display:flex;
		
	}
</style>