---
---
<ul>
  <li class="inline px-2"><a href="/">About</a></li>
  <li class="inline px-2"><a href="/meter">Project</a></li>
  <li class="inline  px-2"><a href="/meow">Explore</a></li>
  <li class="inline px-2"><a href="/#contact">Contact</a></li>
</ul>