---
---
<ul>
  <li class="inline px-2"><a href="/#about123">About</a></li>
  <li class="inline px-2"><a href="/#thisisindexproject">Project</a></li>
  <li class="inline  px-2"><a href="/meow">Explore</a></li>
  <li class="inline px-2"><a href="/#contact">Contact</a></li>
</ul>